################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OracleTest/bin/roslyn
/.vs/RBS
/OracleTest/bin
/OracleTest/obj/Debug
